.wd-profile-image {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.wd-cover-image {
  background-image: url("../../images/starship.avif");
  height: 45vh;
  background-size: cover;
  background-position: center;
}

.wd-cover-text {
  bottom: 1px;
  left: 5px;
}

.wd-tweet-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
