:root {
  --background: 0, 0, 0;
  --tuiter-blue: 29, 161, 242;
  --tuiter-grey: 110, 118, 125;
  --tuiter-slate: 47, 51, 54;
  --tuiter-white: 255, 255, 255;
}

body {
  margin: 0;
  background-color: rgb(var(--background));
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.wd-container {
  padding-left: 16px;
}

.wd-page-header-container {
  border-bottom: solid 1px rgb(var(--tuiter-slate));
}

.wd-page-header {
  color: rgb(var(--tuiter-white));
  font-size: 20px;
  margin: 4px 0;
}

.wd-page-subheader {
  color: rgb(var(--tuiter-grey));
  font-size: 13px;
  font-weight: 400;
  margin: 4px 0 12px;
}

.wd-tuit-container {
  display: flex;
  margin-top: 12px;
}

.wd-profile-photo {
  height: 48px;
  width: 48px;
  min-width: 48px;
  object-fit: cover;
  border-radius: 50%;
}

.wd-tuit-content {
  padding-left: 12px;
  color: rgb(var(--tuiter-white));
}

.wd-tuit-user-info {
  font-size: 15px;
  margin-bottom: 4px;
}

.wd-tuiter-name {
  font-weight: 700;
}

.wd-tuiter-meta {
  color: rgb(var(--tuiter-grey));
}

.wd-tuit-text {
  font-size: 15px;
  max-width: 506px;
  margin: 0 16px 12px 0;
}

.wd-linked-content {
  max-width: 506px;
  border-radius: 20px;
  border: 1px solid rgb(var(--tuiter-slate));
}

.wd-linked-content-image {
  object-fit: cover;
  width: 100%;
  height: 264px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.wd-linked-content-info {
  padding: 10px;
}

.wd-linked-content-header {
  margin: 2px 0;
  font-size: 15px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.wd-linked-content-description {
  color: rgb(var(--tuiter-grey));
  margin: 2px 0;
  font-weight: 400;
}

.wd-linked-content-link {
  color: rgb(var(--tuiter-grey));
  text-decoration: none;
}

.wd-actions-container {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.wd-action {
  color: rgb(var(--tuiter-grey));
  text-decoration: none;
}
